@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    body {
            background-color: #F9F9E0;

    }
    h2{
        color: #ff90bc;
    }
    h3{
        color: #8acdd7;
    }